<!-- vim: set ts=2 sw=2 expandtab : -->
    </div>
    <footer class="flex flex-col items-center w-full fixed bottom-0 bg-zinc-800 py-1">
      <div class="text-xs">a <a href="https://gitlab.com/jvdb/watchmedo">nighttime frolic</a> by <a href="https://sawtooth.slechte.info/wiki/images/c/ce/Flynn.jpg">Jef</a> after talking to Meike</div>
    </footer>
  </body>
</html>
