<!doctype html>
<!-- vim: set ts=2 sw=2 expandtab : -->
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-zinc-900 text-zinc-400 font-mono">
{% if handle %}
    <header class="flex flex-row items-center w-full top-0 bg-zinc-800 px-2 justify-between">
      <p><a href="/{{ handle }}/home">home</a></p>
      <p><a href="/{{ handle }}/setup">setup</a></p>
    </header>
{% endif %}
    <div class="p-2">

