<!-- vim: set ts=2 sw=2 expandtab : -->
{% include 'header.html' %}
<div class="flex flex-col items-center gap-4">
  <div class="w-full md:w-1/3 p-2 text-bold border-2 border-dashed rounded-lg border-pink-600 flex flex-col gap-2">
    <h2>Hi.</h2>
    <p class="text-sm">Hard stuff, these "habits". Hence an MVP to guilt yourself into forming them by making it visible to your tribe. It's a prototype, everybody sees everybody. Let me know!</p>
    <p class="text-sm">Oh, and no passwords. Don't think such things warrant them. Just bookmark the URL you end up on.</p>
    <p>Tiny tools yo &#x1F495;</p>
  </div>
  <form action="" method="post" class="w-full md:w-1/3 grid grid-cols-1 md:grid-cols-3 gap-2 items-center">
    {{ form.csrf_token }}
    <label for="player_name" class="text-right">your nickname:</label>
    <input type="text" name="player_name" id="player_name" required="true"
      class="bg-zinc-600 col-span-2 py-2 px-1"/>
    <label for="player_timezone" class="text-right">your timezone:</label>
    <input type="text" name="player_timezone" id="player_timezone" required="true"
      class="bg-zinc-600 col-span-2 py-2 px-1"/>
    <input type="submit" value="let's do this"
      class="col-start-3 bg-pink-600 text-zinc-100 p-1 my-1 rounded inline"/>
  </form>
</div>
    <script>
      document.addEventListener('DOMContentLoaded', function(event) {
        let player_timezone = document.querySelector('#player_timezone');
        player_timezone.value = Intl.DateTimeFormat().resolvedOptions().timeZone;
      });
    </script>
{% include 'footer.html' %}
