<!-- vim: set ts=2 sw=2 expandtab : -->
{% include 'header.html' %}

<div class="grid grid-cols-1 gap-4">

  {% if me.empty %}
  <div>
    Hey <b class="text-pink-600">{{ me.player.name | capitalize }}</b>, you've got nothing planned for today, how about you <a href="/{{ handle }}/setup" class="underline">set stuff up</a>?
  </div>
  {% elif me.complete %}
  <div>
    <p>Good job <b class="text-pink-600">{{ me.player.name | capitalize }}</b>, you're done for today!</p>
    </div>
  </div>
  {% else %}
  <div>
    <b class="text-pink-600">{{ me.player.name | capitalize }}!</b> Awesome. Today's menu for you:
    <div class="grid grid-cols-1 divide-y divide-zinc-700 m-2 gap-2">
      {% for something in me.today %}
      <div class="flex flex-row items-center">
        {% if something.done == 0 %}
        <div class="grow">{{ something.what }}</div>
        <form action="" method="post">
          {{ did_something_form.csrf_token }}
          <input type="hidden" id="something_id" name="something_id" value="{{ something.id }}"/>
          <input type="submit" value="done!" class="bg-pink-600 text-zinc-100 p-1 my-1 rounded inline"/>
        </form>
        {% else %}
        <div class="grow">
          <strike>{{ something.what }}</strike>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% for other in others %}
  {% if other.empty %}
  <div>
    <b class="text-pink-600">{{ other.player.name }}</b> has nothing going on today!
  </div>
  {% elif other.complete %}
  <div>
     <b class="text-pink-600">{{ other.player.name }}</b> did everything they said they would!
     <div class="grid grid-cols-1 m-2">
      {% for something in other.today %}
      <div class="m-1">
        <strike>{{ something.what }}</strike>
      </div>
      {% endfor %}
    </div>
  {% else %}
  <div>
    <b class="text-pink-600">{{ other.player.name | capitalize }}</b>'s not finished yet:
    <div class="grid grid-cols-1 m-2">
      {% for something in other.today %}
      <div class="m-1">
        {% if something.done == 0 %}
        <div class="flex flex-col">
          <p>{{ something.what }}</p>
          <p class="text-xs text-italic">{{ something.why }}</p>
        </div>
        {% else %}
        <strike>{{ something.what }}</strike>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endfor %}

</div>

{% include 'footer.html' %}
