{% include 'header.html' %}
<!-- vim: set ts=2 sw=2 expandtab : -->
<div class="flex flex-col items-center gap-4">
  <div class="w-full md:w-1/3">
    <ul class="list-disc">
      These are your things:
{% if not somethings %}
      <li>no things yet :-(</li>
{% else %}
{% for something in somethings %}
      <li class="flex flex-row justify-between items-center">
        <div class="flew flex-col">
          <p>{{ something.when }}: {{ something.what }}</p>
          <p class="text-xs text-italic">{{ something.why }}</p>
        </div>
        <form action="" method="post">
          {{ remove_something_form.csrf_token }}
          <input type="hidden" id="something_id"name="something_id" value="{{ something.id }}"/>
          <input type="submit" value="remove" class="bg-pink-600 text-zinc-100 p-1 my-1 rounded inline"/>
        </form>
      </li>
{% endfor %}
{% endif %}
    </ul>
  </div>
  <div class="w-full md:w-1/3">
    <p>Add one:</p>
  </div>
  <form action="" method="post" class="w-full md:w-1/3 grid grid-cols-2 gap-2">
    {{ add_something_form.csrf_token }}
    <label for="something_when">on</label>
    <select name="something_when" id="something_when"
      class="bg-zinc-600 py-2 px-1">
      <option value="DAILY">every day</option>
      <option value="WEEKDAY">weekdays</option>
      <option value="MONDAY">monday</option>
      <option value="TUESDAY">tuesday</option>
      <option value="WEDNESDAY">wednesday</option>
      <option value="THURSDAY">thursday</option>
      <option value="FRIDAY">friday</option>
      <option value="SATURDAY">saturday</option>
      <option value="SUNDAY">sunday</option>
    </select>
    <label for="something_what">I want to</label>
    <input type="text" id="something_what" name="something_what"
      class="bg-zinc-600 col-span-2 py-2 px-1"/>
    <label for="something_why">because</label>
    <textarea rows="3" id="something_why" name="something_why"
      class="bg-zinc-600 col-span-2 py-2 px-1"></textarea>
    <input type="submit" value="add it!"
      class="col-start-2 bg-pink-600 text-zinc-100 p-1 my-1 rounded inline"/>
  </form>
</div>
{% include 'footer.html' %}
